<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/client.bundle.css' />
		<script type="text/javascript">
			var context = <%- context %>;
		</script>
	</head>
	<body>
		<main>
			<div id="content"><%- content %></div>

			<script src="/client.bundle.js"></script>
			<script src="/vendor.bundle.js"></script>
		</main>
	</body>
</html>


